<br>
<p> componenrte de formulario!</p>

<form [formGroup]="form">
  <mat-form-field>
  <input matInput type="text" formControlName="name" placeholder="nombre">
</mat-form-field>

<br>
  <mat-form-field>
  <input matInput type="text" formControlName="ap_pat" placeholder="apellidos">
</mat-form-field>

<br>
 <mat-form-field>
  <input matInput type="email" formControlName="email" placeholder="correo">
</mat-form-field>

<br>
<mat-form-field>
  <input matInput type="password" formControlName="password" placeholder="Contraseña">
</mat-form-field>

<br>

<mat-form-field>
  <input matInput type="password" formControlName="confirmarPassword" placeholder="Confirmar Contraseña">
</mat-form-field>

<mat-error class="mat-error" *ngIf="checarSiSonIguales()">Las contraseñas no coinciden</mat-error>

<br>

<button mat-raised-button [disabled]="!form.valid">Enviar</button>
</form>